In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
pd.pandas.set_option('display.max_columns', None)

## Read Dataset

In [3]:
dataset = pd.read_csv("indian_liver_patient.csv")
dataset.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

## Data Cleaning

In [4]:
dataset['Albumin_and_Globulin_Ratio'] = dataset['Albumin_and_Globulin_Ratio'].fillna(dataset['Albumin_and_Globulin_Ratio'].median())

In [5]:
dataset['Gender'] = np.where(dataset['Gender']=='Male', 1,0)

In [6]:
dataset = dataset.drop('Direct_Bilirubin', axis=1)

In [7]:
X = dataset.iloc[:, :-1]
X.head()

,Age,Gender,Total_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,65,0,0.7,187,16,18,6.8,3.3,0.90
1,62,1,10.9,699,64,100,7.5,3.2,0.74
2,62,1,7.3,490,60,68,7.0,3.3,0.89
3,58,1,1.0,182,14,20,6.8,3.4,1.00
4,72,1,3.9,195,27,59,7.3,2.4,0.40

In [8]:
y = dataset.iloc[:, -1]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Dataset, dtype: int64

In [9]:
from imblearn.combine import SMOTETomek
smote=SMOTETomek()

In [10]:
X_smote,y_smote = smote.fit_resample(X,y)

## Training and Testing

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_smote,y_smote, test_size=0.3, random_state=33)

## Build Model

In [12]:
from sklearn.ensemble import RandomForestClassifier
RandomForest = RandomForestClassifier()
RandomForest = RandomForest.fit(X_train,y_train)

## PKL file

In [13]:
filename = 'Model1.pkl'
pickle.dump(RandomForest, open(filename, 'wb'))

In [14]:
pwd()

'C:\\Users\\sanke\\Imarticus'